.portfolio {
	background: $ice;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 100px;
	&__title {
		font: 300 20px $title;
		color: $dark-grey;
		margin-bottom: 35px;
		

	}
	&__desc {
		max-width: 39%;
		margin: 0 auto;
		color: $grey;
		margin-bottom: 65px;
	}
	&__filters {
		display: flex;
		width: 33%;
		margin: 0 auto;
		justify-content: space-between;
		margin-bottom: 80px;
	}
	&__item {
		cursor: pointer;
		color: #464646;
		font-size: 16px;
		
		&--active {
			position: relative;
			
			&::after {
				
				content: '';
				width: 50px;
				background:  $green;
				height: 2px;
				@include pos($b:-10px, $l:50%);
				transform: translateX(-50%);
			}
		}
	}


}

.sizer {
	width: 23%;
}

.blocks {
	&__img {
		width: 23%;
		margin-bottom: 7px;
	}

}